$blue-color: #0192c8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  margin-inline: auto;
  max-width: 1200px;
}

.content__hero,
.content__services,
.content__products,
.content__callback {
  position: relative;
}

.navbar {
  background-color: rgba(1, 146, 200, 0.1);
  min-height: 5vh;
  position: sticky;
  top: 0;
  z-index: 999;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__menu {
    display: flex;

    &-item {
      padding: 1rem;
      font-size: 1.3rem;
      text-decoration: none;

      &:hover {
        background-color: red;
      }
    }
  }
}

.navbar-header {
  background-color: rgba($color: #ccc, $alpha: 0.7);
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
}

.content__hero {
  background-color: rgba($color: $blue-color, $alpha: 0.1);

  .container {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 50% 50%;

    .content__hero-left {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
    }

    .content__hero-right {
      display: flex;
      align-items: center;
    }
  }

  .custom-shape-divider-bottom-1676125793 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1676125793 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom-1676125793 .shape-fill {
    fill: #ffffff;
  }
}

.content__services {
  padding-block: 7rem;

  &-title {
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
  }

  &-item {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(200px, 1fr));

    &--1,
    &--2,
    &--3,
    &--4,
    &--5 {
      display: grid;
      justify-content: start;
      align-items: center;
      gap: 10px;

      .icon {
        grid-row: 1 / 3;
      }

      .title {
        grid-column: 2 / 3;
      }
    }
  }

  .custom-shape-divider-bottom-1676127287 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
      position: relative;
      display: block;
      width: calc(113% + 1.3px);
      height: 95px;
      transform: rotateY(180deg);
    }

    .shape-fill {
      fill: #0192c8;
    }
  }
}

.content__products {
  padding-block: 7rem;
  background-color: $blue-color;

  &-title {
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
  }

  &-item {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    gap: 2rem;

    .card {
      border-radius: 0.25rem;
      background-color: rgba($color: #fff, $alpha: 0.9);

      &-img {
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        padding: 1rem;
        width: 100%;
      }

      &-body {
        padding: 0.75rem;
      }
    }
  }

  .custom-shape-divider-bottom-1676133223 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
      position: relative;
      display: block;
      width: calc(148% + 1.3px);
      height: 69px;
    }

    .shape-fill {
      fill: #eeeeee;
    }
  }
}

.content__callback {
  padding-block: 5rem;
  background-color: #eee;

  &-title {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
  }

  .container .test {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &-form {
    display: flex;
    flex-direction: column;

    &--item {
      margin-bottom: 1rem;
      position: relative;

      .form__field {
        border: none;
        border-bottom: 2px solid #9b9b9b;
        padding-top: 1.5rem;
        width: 100%;
        font-size: 1rem;
        font-family: inherit;
        background: transparent;
        outline: 0;
        transition: border-color 0.2s;

        &::placeholder {
          color: transparent;
        }
        &:placeholder-shown ~ .form__label {
          font-size: 1.25rem;
          cursor: text;
          top: 1rem;
        }

        &:focus {
          padding-bottom: 6px;
          font-weight: 700;
          border-width: 3px;
          border-image: linear-gradient(to right, #116399, #38caef);
          border-image-slice: 1;
        }

        &:focus ~ .form__label {
          color: #38caef;
          font-weight: 700;
          font-size: 1rem;
          display: block;
          position: absolute;
          top: 0;
          transition: 0.2s;
        }

        /* reset input */
        &:required,
        &:invalid {
          box-shadow: none;
        }
      }

      .form__label {
        color: #9b9b9b;
        display: block;
        font-size: 1.25rem;
        position: absolute;
        top: 0;
        transition: 0.2s;
        pointer-events: none;
      }
    }

    &--button {
      border: unset;
      border-radius: 15px;
      padding: 15px 25px;
      color: #212121;
      background: #e8e8e8;
      position: relative;
      font-weight: 1000;
      font-size: 17px;
      align-self: center;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      transition: all 250ms;
      overflow: hidden;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        background-color: #212121;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms;
      }

      &:hover {
        color: #e8e8e8;

        &::before {
          width: 100%;
        }
      }
    }
  }

  .custom-shape-divider-bottom-1676136737 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1676136737 svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 100px;
  }

  .custom-shape-divider-bottom-1676136737 .shape-fill {
    fill: #e2ac3a;
  }
}

.footer {
  padding-block: 2rem;
  background-color: #e2ac3a;
  font-size: 1.25rem;

  .container {
    display: grid;
    grid-template-columns: 50% 30% 20%;

    hr {
      margin-block: 1rem;
      border: 1px solid black;
      grid-row: 2 / 3;
      grid-column: 1 / 4;
    }
  }

  &__about {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    &-brand {
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    img {
      width: 70%;
    }

    &-address {
      font-size: 1rem;
      width: 80%;
    }
  }

  &__socialMedia {
    grid-column: 2 / 3;

    &-title {
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }

  &__other-service {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
  }

  &__copyright {
    grid-row: 3 / 4;
  }
}
